*{
    padding:0;
    margin: 0;
}

.form-container{
    position: absolute;
    width: 400px;
    height:600px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 0px 0px 0px #000;
}

.header{
    width:100%;
    height:50px;
    background-color:#00b8d4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.header .title,.p{
padding:1px;
position:relative;
}


.header .logo,.title,.close{
    width:130px;
    height: 100%;
    float:left;
}

.logo i{
    position:absolute;
    left:1px;
    top:5px;
    padding:9px 8px;
    color:white;
}

.header .close{
    float:right;
}

.header .title p,.header .close p{
    color:white;
    font-weight: bold;
}

.header .title p{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.header .close p{
    font-size: 15px;
    text-align: end;
    padding-right:20px;
    padding-top: 18px;
}


.main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

.main .inputs{
    padding:25px;
}

.main .inputs input{
    width:calc(100% - 60px);
    height:35px;
    border-radius: 5px;
    border:none;
    padding-left:20px;
    padding-right:40px;
    border:1px solid gray;
}

input[type=submit]{
    padding-left:0 6px;
    height:35px;
    border:none;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size:22px;
    background-color:rgb(209, 226, 49);
    font:arial;
}

.main .inputs .in1,.in2{
    position: relative;
}

.main .aditional{
    margin-left:25px;
    margin-right:25px;
    margin-top:50px;
    margin-bottom:50px;
}

}
